.sct_1 {
    background-image: url("https://wallpapers.com/images/hd/jewellery-background-1920-x-1080-i3as78othm47uu58.jpg");
    width: 1920px;
    height: 1080px;

}

._sct_1 {
    padding: 50px;
}

._sct_2 {
    padding: 50px;
}

._sct_3 {
    padding: 50px;
}

.sct_3 {
    background-image: url("https://wallpapers.com/images/hd/white-gold-ring-9xag2609h1bor6fx.jpg");
    width: 1920px;
    height: 1080px;

}


.sct_4 {
    background-image: url("https://wallpapers.com/images/hd/jewelry-background-xrjxe3njig66nul4.jpg");
    width: 1920px;
    height: 1080px;

}

.footer {
    color: aliceblue;
    text-align: center;
    padding-top: 780px;
}